<footer class="footer">
	<div class="footer__top">
		<div class="footer__container container">
			<div class="footer__column">
				<div class="footer__contacts contacts-footer">
					<a href="tel:+70001234567" class="contacts-footer__item">+7(000) 123 45 67</a>
					<a href="mailto:info@.ru" class="contacts-footer__item">info@.ru</a>
				</div>
			</div>
			<div class="footer__column">
				<a href="index.html" class="footer__logo-wrapper">
					<img src="img/logo_white_footer.svg" alt="Vesna" class="logo">
				</a>
			</div>
			<div class="footer__column">
				<div class="footer__social social">
					<a href="https://www.instagram.com/" class="social__link">
						<img src="img/instagram-fill.svg" alt="instagram">
					</a>
				</div>
			</div>
		</div>

	</div>
	<div class="footer__bottom">
		<div class="footer__container container">
			<div class="footer__copyright">
				<a href="#" class="footer__item"><span>© 2021 VESNA</span></a>

				<a href="#" class="footer__item">Политика конфиденциальности</a>
			</div>
		</div>
	</div>
</footer>